<%- include('../partials/header'); %>

<div class="public-course-shell">
  <%- include('../partials/navbar'); %>

  <main class="container app-content">
        <h1><%= course.title %></h1>
  </main>
</div>

<%- include('../partials/footer'); %>
