<%- include('./partials/header'); %>

<div class="app-shell">

    <% if (user) { %>}
    <%- include('./partials/sidebar'); %>
    <% } %>

    <div class="app-main">
        <%- include('./partials/navbar'); %>

        <main class="app-content">
            <h1 class="h3 mb-3">Dashboard</h1>
        </main>
    </div>
</div>

<%- include('./partials/footer'); %>
